/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFFFFF;
  font: 13.34px "Menlo", Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  /*font-weight: bold;*/
  background-color:#FB327F
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* NAV
/*
/*****************************************************************************/

.main-nav {
	margin-top: 52px;
	li {
		margin-right: 10px;
		a {
			font-weight: 900;
			font-size: 14px;
			padding: 0.5em 1em;
			text-shadow: none;
			text-transform: uppercase;
			&:hover {
				background-color: #252525;
				text-shadow: 0 1px 3px rgba(0,0,0,.5);
			}
		}
		&.current {
			a {
				background-color: #fc0;
				color: #222;
				text-shadow: 0 1px 0 rgba(255,255,255,.3);
			}
		}
	}
}
.mobile-nav {
	ul {
		overflow: hidden;
		width: 100%;
		display: table;
	}
	a {
		float: left;
		width: 100%;
		background-color: #333;
		color: #fc0;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 900;
		padding: 5px;
	}
	li {
		display: table-cell;
		width: 20%;
		padding: 8px 2px;
	}
	.current {
		a {
			background-color: #fc0;
			color: #222;	
			text-shadow: 0 1px 0 rgba(255,255,255,.3);
		}
	}
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
