---
layout: default
title: Random Ideas
categories:
 - en
lang: en
permalink: /en/random/
---
<div class='container clearfix'>
      <div class='posts fl'>

            {% for post in site.categories.random %}
              {% if post.lang == page.lang %}
            	<div class='postbox'>
            	<a href='{{site.url}}{{post.url}}'><img alt="{{post.title}}" src="{{site.url}}{{post.thumb}}"></a>
                <p><a href='{{site.url}}{{post.url}}'><span class="TXT-celeste">{{post.title}}</span></a></p>
                </div>
              {% endif %}
            {% endfor %}
    </div>
  </div>