<div class="main-nav">
<ul>
<li {% if page.overview %}class="current"{% endif %}>
<a href='{{site.url}}/{{page.lang}}/'>Home</a>
</li>
<li {% if page.url contains '/work/' %}class="current"{% endif %}>
<a href='{{site.url}}/{{page.lang}}/work/'>Works</a>
</li>
<li {% if page.url contains '/projects/' %}class="current"{% endif %}>
<a href='{{site.url}}/{{page.lang}}/projects/'>Projects</a>
</li>
<li {% if page.url contains '/music/' %}class="current"{% endif %}>
<a href='{{site.url}}/{{page.lang}}/music/'>Music</a>
</li>
<li {% if page.url contains '/code/' %}class="current"{% endif %}>
<a href='{{site.url}}/{{page.lang}}/code/'>Code</a>
</li>
<li {% if page.url contains '/random/' %}class="current"{% endif %}>
<a href='{{site.url}}/{{page.lang}}/random/'>Random Ideas</a>
</li>
<li {% if page.url contains '/about/' %}class="current"{% endif %}>
<a href='{{site.url}}/{{page.lang}}/about/'>About</a>
</li>
</ul>
</div>