     <div class='header clearfix'>	{% include langselector.html %}

		<a href='{{site.url}}/' class='home'>royMacdonald.net</a>
<span class="TXT-blanco HL-rosado" lang='en'>
<br /> 
I am Roy Macdonald.<br /> 
This is my portfolio/site.<br /> 
I make things with computers, electronics, code, images, sound, video, cameras and whatever else.<br /> 
I am a director, producer, artist, coder, wanabe physicist, maybe hacker.
</span>
<span class="TXT-blanco HL-rosado"  lang='es'>
<br /> 
Soy Roy Macdonald.<br /> 
Este es mi portafolio/sitio.<br /> 
Hago cosas con computadores, electrónica, código, imagenes, sonido, video, cámaras y lo que sea.<br /> 
Soy director, productor, artista, programador, quisiera ser físico, quizas soy hacker.
</span>
	{% include headermenu.html %}
 </div>
</header>
