<div class="main-nav">
<ul>
<li {% if page.overview %}class="current"{% endif %}>
<a lang ='en' href='{{site.url}}/'>Home</a>
</li>
<li {% if page.url contains '/work/' %}class="current"{% endif %}>
<a lang ='en' href='{{site.url}}/work/'>Work</a>
</li>
<li {% if page.url contains '/projects/' %}class="current"{% endif %}>
<a lang ='en' href='{{site.url}}/projects/'>_Art</a>
</li>
<li {% if page.url contains '/music/' %}class="current"{% endif %}>
<a lang ='en' href='{{site.url}}/music/'>Music</a>
</li>
<li {% if page.url contains '/code/' %}class="current"{% endif %}>
<a lang ='en' href='{{site.url}}/code/'>Tools</a>
</li>
<li {% if page.url contains '/random/' %}class="current"{% endif %}>
<a lang ='en' href='{{site.url}}/random/'>Random Ideas</a>
</li>
<li {% if page.url contains '/about/' %}class="current"{% endif %}>
<a lang ='en' href='{{site.url}}/about/'>About</a>
</li>
<li>
<a lang ='en' href='https://github.com/roymacdonald/'  target="_blank" rel="noopener noreferrer" >Github</a>
</li>


<li id="futureSketchesMenu" {% if page.url contains '/future_sketches/' %}class="current"{% endif %} style="display: none">
<a lang ='en' href='{{site.url}}/future_sketches/'>Future_Sketches portfolio</a>
</li>

<!-- <li {% if page.url contains '/blog/' %}class="current"{% endif %}>
<a lang ='en' href='{{site.url}}/blog/'>blog</a>
</li>
 -->
</ul>
</div>