<div class="main-nav">
<ul>
<li {% if page.overview %}class="current"{% endif %}>
<a lang ='es' href='{{site.url}}/'>Inicio</a>
<a lang ='en' href='{{site.url}}/'>Home</a>
</li>
<li {% if page.url contains '/work/' %}class="current"{% endif %}>
<a lang ='es' href='{{site.url}}/work/'>Trabajos</a>
<a lang ='en' href='{{site.url}}/work/'>Work</a>
</li>
<li {% if page.url contains '/projects/' %}class="current"{% endif %}>
<a lang ='es' href='{{site.url}}/projects/'>Proyectos</a>
<a lang ='en' href='{{site.url}}/projects/'>Projects</a>
</li>
<li {% if page.url contains '/music/' %}class="current"{% endif %}>
<a lang ='es' href='{{site.url}}/music/'>Música</a>
<a lang ='en' href='{{site.url}}/music/'>Music</a>
</li>
<li {% if page.url contains '/code/' %}class="current"{% endif %}>
<a lang ='es' href='{{site.url}}/code/'>Código</a>
<a lang ='en' href='{{site.url}}/code/'>Code</a>
</li>
<li {% if page.url contains '/random/' %}class="current"{% endif %}>
<a lang ='es' href='{{site.url}}/random/'>Ideas Random</a>
<a lang ='en' href='{{site.url}}/random/'>Random Ideas</a>
</li>
<li {% if page.url contains '/about/' %}class="current"{% endif %}>
<a lang ='es' href='{{site.url}}/about/'>Acerca de</a>
<a lang ='en' href='{{site.url}}/about/'>About</a>
</li>
</ul>
</div>