<header>
	<div class='header clearfix'>
		<a id="roymacdonald" href='{{site.url}}/' class='home'>royMacdonald</a>
		{% if page.selection == 'home' %}
		<div>
		{% else %}
		<div id="iam" style=" overflow-y: hidden; height:0px;">		
		{% endif %}
			<span class="TXT-blanco HL-rosado">
				I am Roy Macdonald.<br /> 
				This is my portfolio/site.<br /> 
				I make things with computers, electronics, code, images, sound, video, cameras and whatever else.<br /> 
				I like to thoroughly understand things, how these work and try to make something with this understanding.<br />
				I am a director, producer, artist, coder, wanabe physicist, maybe hacker.
			</span>
		</div>
		{% include headermenu.html %}
	</div>
</header>
