<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300"/>
   <link href='https://fonts.googleapis.com/css?family=Amiri' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300"/>
  <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script> 
    <link rel="stylesheet" href="/css/lightbox.css">
    <link href='/css/site.css' rel='stylesheet' />

</head>

<body>
  <div class="header_port_dma">
<h3> UCLA  Design - Media Arts Master in Fine Arts Application Portfolio</h3>

<h1> Roy James Macdonald </h1>
</div>
  {{content}}
{% for proj in site.data.portafolio %}{% for post in site.posts %}{% if post.id == proj.id %}{% include post_port.html post=post %}{% endif %}{% endfor %}{% endfor %}

<div class="port_footer"></div>

</body>

</html>
