---
layout: default
---
{% include post_video.html %}
<div class="post">
  <article class="post-content">
  	<h1>{{ page.title }}</h1>
  	{% if page.subtitle != nil %}
  	<h3>{{ page.subtitle }}</h3>
  	{% endif %}
	{% if page.WIP != nil || page.FAIL != nil%}
		<div class="wip_or_fail">
		{% if page.WIP != nil %}
  			{% if page.WIP == true %}
  				<div class="wip">[ WORK IN PROGRESS ]</div>
  			{% endif %}
  		{% endif %}
  		{% if page.FAIL != nil %}
  			{% if page.FAIL == true %}
  				<div class="fail">[ FAIL ]</div>
  			{% endif %}
  		{% endif %}
  	</div>
  	{% endif %}
    {{ content }}
    {% if page.macrobio != nil %}
    	{% if page.macrobio == true %}
    		<div class="con_macrobio">
    			I worked on this project while I had my studio [Macrobio](http://www.macrobio.cl "Macrobio").
    		</div>
    	{% endif %}
    {% endif %}
  </article>
</div>
{% include gallery.html post=page %}
