---
layout: default
---
<div class='container clearfix'>
{{ content }}
      <div class='posts fl'>
            {% for post in site.posts %}
              {% if post.lang != 'en' %}
              {% continue %}
              {% endif %}
            	{% assign found = false %}
            	{% assign isNotBlog = true %}
                {% if post.show_in_home != false %}
            	{% for cat in post.categories %}
            	    	{% if cat == 'blog'  %}
            	            {% assign isNotBlog = false %}
            	    	{% endif %}
            	{% endfor %}
            	{% if isNotBlog  %}
            	    {% if page.selection == 'home' %}
            		    {% assign found = true %}
            	    {% else %}
            		    {% for cat in post.categories %}
              			    {% if cat == page.selection && cat != 'blog'  %}
            				    {% assign found = true %}
            			    {% endif %}
            		    {% endfor %}
            	    {% endif %}
            	{% endif %}
            	{% endif %}
            	{% if found %}
            		<div class='postbox'>
            		<a href='{{site.url}}{{post.url}}'><img class="imgBW"alt="{{post.title}}" src="{{site.url}}{{post.thumb}}"></a>
                	<p><a href='{{site.url}}{{post.url}}'><span class="TXT-celeste">{{post.title}}</span></a></p>
                	</div>
            	{% endif %}
            {% endfor %}
    </div>
  </div>
